:root {
    --clr-neon: #4666FF;
    --clr-bk: #001f3f;
    --light-txt: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.btn {
    cursor: pointer;
    color: var(--light-txt);
    background: var(--clr-bk);
    padding: 0.75em;
    align-content: center;
    border: solid 2px black;
    border-radius: 8px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 20px);
}

.container > aside{
    flex: 0 0 150px;
    height: 100%;
    padding: 10px 1em;
    background: var(--clr-bk);
    color: var(--light-txt);
}

.container > .content{
    flex: 1 1;
    overflow-y: auto;
    height: 100%;
    padding: 10px 1em;
}

.grid{
    display: grid;
    gap: 10px;
}

table{
    border-collapse: collapse;
    font-size: 12px;
}

td, th{
    padding: 3px 10px 3px 5px;
    text-align: left;
}

th{
    vertical-align: bottom;
    border-bottom: solid 1px gray;
}

.oddRow{background: rgba(176, 196, 222, 0.25);}

.hidden{display: none;}

.f11{font-size: 11px;}
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}

.f-bold{font-weight: bold;}
.f-reg{font-weight: normal;}

.margin-10{margin: 10px;}
.margin-t-10{margin-top: 10px;}
.margin-t-20{margin-top: 20px;}
.margin-b-10{margin-bottom: 10px}
.margin-h-10{margin: 0 10px}
.margin-v-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-v-10{
    margin-top: 10px;
    margin-bottom: 10px;
}


.txt-center{text-align: center;}
.txt-right{text-align: right;}

.pad-05em{padding: 0.5em;}
.pad-1em{padding: 1em;}
.pad-tp-05em{padding-top: 0.5em;}
.pad-tp-1em{padding-top: 1em;}
.pad-bm-1em {padding-bottom: 1em;}
.pad-bm-05em {padding-bottom: 0.5em;}
.pad-rt-1em {padding-right: 1em;}
.pad-lt-1em {padding-left: 1em;}
.pad-h-1em{
    padding-left: 1em;
    padding-right: 1em;
}

.border-rad-5{border-radius: 5px;}

.box-shadow{
    box-shadow: 0 0 10px 2px rgba(119, 136, 153, 0.25);
}
