:root{
    --dark-back: #091D34;
    --light-back: #F7F7F7;
    --light-txt: #ffffff;
    --dark-txt: #303030;
    --gray-border: #c7c7c7;
    --inactive-txt: #777777;
    --blue: #236AB9;
    --progress-blue: rgba(54, 162, 235, 1);
    --shadow: 0 1px 4px 2px rgba(190, 190, 190, 0.5);
    --shadow-small: inset 0 0 0.24em 0.12em rgba(207, 207, 207, 0.5);
    --chart-red:rgba(255, 99, 132, 0.7);
    --chart-yellow: rgba(255, 206, 86, 0.7);
    --chart-blue: rgba(54, 162, 235, 0.7);
    --chart-green: rgba(113, 194, 92, 0.7);
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

html, body {
    background-color: var(--light-back);
    color: var(--dark-txt);
}

body{
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 20px);
}

body > aside{
    flex: 0 0 270px;
    height: 100%;
    padding: 10px 1em;
    outline: solid 1px var(--gray-border);
    overflow-y: auto;
    /* box-shadow: var(--shadow); */
}

body > #content{
    flex: 1 1;
    overflow-y: auto;
    height: 100%;
    padding: 10px 1em;
}

h1, h3, label{
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--blue);
    color: #F7F7F7;
    border-radius: 10px 10px 0 0;
    padding: 00.45em;
}

section,
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1.3em;
}
section > div,
.flex > .stretch{
    flex: 3;
}
.flex > .stretch3{
    flex: 1;
}

section{
    margin: 0 auto;
}

table{
    font-size: 0.75rem;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    /* margin: auto; */
}

th{
    white-space: nowrap;
    border-bottom: solid 1px var(--gray-border);
}

th, td{
    padding: 0.3em 0.6em;
}

ul{
    background-color: white;
    border-radius: 5px;
}

span{
    padding: 0 0.5em;
}

li {
    list-style-type: none;
    font-size: 0.85rem;
}

/* canvas{
    border-radius: 50%;
    padding: 1em;
    border: solid 1px var(--gray-border);
} */

.btn{
    padding: 0.3em 1em 0.3em 1.4em;
    cursor: pointer;
    position: relative;
}

.outer-progress{
    min-width: 120px;
    width: 100%;
    background-color: #ebebeb;
    box-shadow: var(--shadow-small);
    padding: 0;
}

.inner-progress{
    width: 1px;
    height: 1.7em;
    background-color: var(--progress-blue);
    /* color: white; */
    border-radius: 3px;
    box-shadow: var(--shadow-small);
}

.sub{
    padding-left: 2.4em;
    font-size: 0.8rem;
}

.block{display: block;}
.border-rad-8px{border-radius: 10px;}
.box-shadow{
    box-shadow: 0 1px 4px 2px rgba(190, 190, 190, 0.5);
    /* border: solid 1px var(--gray-border); */
}
.card{
    min-width: min-content;
    /* align-content: center; */
    background-color: white;
}
.no-stretch{
    max-width: max-content;
}
.active-btn{
    /* border: solid 1px #236AB9; */
    background-color: #ebebeb;
    font-weight: bold;
    box-shadow: var(--shadow-small);
    /* padding-top: 0.5em;
    padding-bottom: 0.5em; */
}
.tbl-border{border: solid 1px var(--gray-border); padding: 0.3em; border-radius: 5px;}
.border-top{
    border-top: solid 1px var(--gray-border);
}
.height-150{
    height: 350px;
}
.chart{
    width: 150px;
    height: 150px;
    margin: 1em;
    /* padding: 5px; */
    /* margin: 10px; */
}
.chart-red{background-color: var(--chart-red); border-radius: 3px;}
.chart-yellow{background-color: var(--chart-yellow); border-radius: 3px;}
.chart-blue{background-color: var(--chart-blue); border-radius: 3px;}
.chart-green{background-color: var(--chart-green); border-radius: 3px;}
.float-left{float: left;}
.float-right{float: right;}
.font-09rem{font-size: 0.8rem;}
.hidden{display: none;}
.inactive-btn{color: var(--inactive-txt);}
.margin-left-2em{margin-left: 2em;}
.margin-top-5px{margin-top: 5px;}
.margin-top-10px{margin-top: 10px;}
.margin-top-2-5em{margin-top: 2.5em;}
.margin-top-20px{margin-top: 1em;}
.margin-hor{margin-left: 10px; margin-right: 10px;}
.margin-vert-20px{
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-2per{margin: 0.15em;}
.max-width-960{max-width: 800px;}
.min-wid-330{min-width: 330px;}
.min-wid-460{min-width: 460px;}
.min-width-50{min-width: 100%;}
.no-wrap{white-space: nowrap;}
.pad-5px{padding: 5px;}
.pad-10px{padding: 8px;}
.pad-20px{padding: 20px;}
.pad-left-1-2em{padding-left: 1.2em;}
.sq-top{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.pad-left-2em{padding-left: 2em;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.width-100{min-width: 100%;}
.col-3em{width: 3em;}
.col-5em{width: 4em;}
.col-6-5em{width: 7em;}
.width-8em{width: 6.5em}
.width-10em{width: 8.5em;}
.width-max{width: 100%;}

/* h1{margin: 0.25em 1em;} */
select,
button,
input[type="submit"], input::file-selector-button{
    padding: 0.3em 0.5em;
}

.btn:hover{
    background-color: lightgray;
}

.exp::before{
    content: '\02795';
}

.ctr {
    border-bottom: solid 1px var(--gray-border);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ctr::before{
    content: '\02796';
}

.exp::before,
.ctr::before{
    font-size: 0.65em;
    position: absolute;
    left: 0.45em;
    top: 0.55em;
}